<a href="" class="back" routerLink="/dashboard"><< Back</a>
<div class="container">
    <div class="text-center">
        <h2 class="py-4">View Customer Details</h2>
    </div>
    <div class="row">
        
<table class="table">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Order Date</th>
        <th scope="col">Order Detail</th>
        <th scope="col">Order Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.customer.customerName}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.orderDetail}}</td>
        <td>{{order.orderAmount}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
